# TASK 1: FitBit

In [ ]:
import pandas as pd

In [2]:
df_fitbit=pd.read_csv('C:\\Users\\ADMIN\\Downloads\\FitBit data.csv')

In [3]:
df_fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [4]:
df_fitbit.dropna(axis=1,inplace=True)

In [5]:
df_fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [6]:
df_fitbit.to_json("Fitbit.json")

In [7]:
def myconnection(mydbname):
    '''Creating Database connection Here'''
    try:
        mydb=connection.connect(host='localhost',user='suraj',password='ThisisMyPassword',database=mydbname,use_pure=True,auth_plugin='mysql_native_password')
        return mydbname
    except Exception as e:
        print(str(e))

In [8]:
#read data from mysql

import mysql.connector as connection
mydb = connection.connect(host="localhost",user="suraj", passwd="ThisisMyPassword",database="Pandas_Session3",use_pure=True,auth_plugin='mysql_native_password')
df_fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [89]:

#read data from mongodb
# create connection
import pymongo

client = pymongo.MongoClient("mongodb+srv://suraj:suraj123@cluster0.f8ooe.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [10]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://suraj:ThisisMyPassword@localhost:3306/Pandas_Session3')

In [11]:
df_fitbit.to_sql(con=engine,name='FitBitTable',if_exists="append",index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'FitBitTable' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

457

In [12]:
query="select * from fitbittable WHERE Id>10000"
df_ex=pd.read_sql_query(query,engine)

In [13]:
df_ex

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
910,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
911,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
912,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
913,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [14]:
query="select * from fitbittable WHERE Id>1503960366"
df_ex=pd.read_sql_query(query,engine)
df_ex

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1624580081,3/25/2016,1810,1.180000,1.180000,0.0,0.00,0.00,1.13,0.01,0,0,121,1319,1373
1,1624580081,3/26/2016,815,0.530000,0.530000,0.0,0.00,0.00,0.53,0.00,0,0,47,1393,1264
2,1624580081,3/27/2016,1985,1.290000,1.290000,0.0,0.00,0.00,1.28,0.01,0,0,112,1328,1350
3,1624580081,3/28/2016,1905,1.240000,1.240000,0.0,0.00,0.00,1.24,0.00,0,0,95,1345,1342
4,1624580081,3/29/2016,1552,1.010000,1.010000,0.0,0.00,0.00,1.00,0.00,0,0,66,1374,1300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
872,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
873,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
874,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
875,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

2. while creating a table in mysql dont use manual approach to create it, always use automation to create a table in mysql

In [15]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://suraj:ThisisMyPassword@localhost:3306/Pandas_Session3')
df_fitbit.to_sql(con=engine,name='fitbittable',if_exists="append",index=False)

457

3. convert all the dates available in dataset to timestamp format in pandas and in sql convert it in date format

In [16]:
df_fitbit.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [17]:
df_fitbit['ActivityDate']=pd.to_datetime(df_fitbit['ActivityDate'])

In [18]:
df_fitbit.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [19]:
## Converting Date in SQL

4. find out this data that how many unique id we have

In [20]:
df_fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [21]:
df_fitbit['Id'].unique

<bound method Series.unique of 0      1503960366
1      1503960366
2      1503960366
3      1503960366
4      1503960366
          ...
452    8877689391
453    8877689391
454    8877689391
455    8877689391
456    8877689391
Name: Id, Length: 457, dtype: int64>

In [22]:
IDs=list(pd.unique(df_fitbit['Id']))

In [23]:
len(IDs)

35

5. Which id is one of the active id that you have in whole dataset

In [24]:
df_fitbit.groupby('Id')['TotalDistance'].mean().idxmax()

8877689391

6.How many of them have not logged there activity find out in terms of number of ids

In [25]:
df_fitbit.groupby('Id')['LoggedActivitiesDistance'].count()<1

Id
1503960366    False
1624580081    False
1644430081    False
1844505072    False
1927972279    False
2022484408    False
2026352035    False
2320127002    False
2347167796    False
2873212765    False
2891001357    False
3372868164    False
3977333714    False
4020332650    False
4057192912    False
4319703577    False
4388161847    False
4445114986    False
4558609924    False
4702921684    False
5553957443    False
5577150313    False
6117666160    False
6290855005    False
6391747486    False
6775888955    False
6962181067    False
7007744171    False
7086361926    False
8053475328    False
8253242879    False
8378563200    False
8583815059    False
8792009665    False
8877689391    False
Name: LoggedActivitiesDistance, dtype: bool

In [26]:
df=df_fitbit.groupby('Id')['LoggedActivitiesDistance'].sum()<1

In [27]:
df

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [28]:
df_fitbit.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x).value_counts()

0.000000     29
9.656064      1
0.055843      1
8.754830      1
14.052416     1
34.351326     1
15.127832     1
Name: LoggedActivitiesDistance, dtype: int64

7. find out who is the laziest person id that we have in dataset

In [29]:
df_fitbit.groupby('Id')['TotalDistance'].mean().idxmin()

4388161847

In [30]:
df_fitbit.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

In [31]:
df_fitbit.groupby('Id')['TotalDistance'].sum().idxmin()

4388161847

In [32]:
df_fitbit.groupby('Id')['LightlyActiveMinutes'].mean().idxmin()

4388161847

Laziest Person: 4388161847

8. explore over an internet that much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [42]:
#2,200â€“3,000--Avg male
#1,600â€“2,200

#2,200--Avg Person

df_fitbit.groupby('Id')['Calories'].mean().apply(lambda x:x>2200).value_counts()

False    22
True     13
Name: Calories, dtype: int64

13 Fit and 22 Unfit

9. how many person are not a regular person with respect to activity try to find out those

In [40]:
df_fitbit[df_fitbit['TotalSteps']==0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

In [37]:
df_fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

10. who is the third most active person in this dataset find out those in pandas

In [80]:
df_fitbit.groupby('Id')['VeryActiveMinutes'].agg(['count', 'min', 'max', 'mean']).sort_values(by = ['mean'], ascending=False)

            count  min  max       mean
Id
8053475328     11    0  165  84.818182
5577150313     11    8  202  81.818182
8877689391     12    0  128  66.833333
8378563200     12    0  113  55.416667
7007744171     12    1  104  44.666667
2022484408     12    0   72  40.083333
1503960366     19    0   89  35.842105
6962181067     14    9   73  35.357143
7086361926     12    0   76  26.250000
5553957443     12    0   51  23.583333
6775888955      9    0   56  19.888889
1644430081     10    0   59  14.800000
3977333714     12    0   35  12.166667
3372868164     10    0   24  11.800000
2347167796     15    0   51  11.800000
6290855005     10    0   33   7.800000
4319703577     12    0   15   6.583333
8253242879     12    0   47   5.833333
6391747486      9    0   46   5.111111
2873212765     12    0   46   5.083333
4445114986     15    0   28   5.066667
4558609924     12    0   27   4.333333
4020332650     32    0   31   4.062500
4702921684     15    0   15   2.933333
8792009665     12    0    9   1.500000
4057192912     32    0   30   1.250000
2320127002     12    0   10   0.916667
1844505072     12    0    9   0.750000
1624580081     19    0    7   0.736842
8583815059      8    0    5   0.625000
6117666160     10    0    3   0.500000
1927972279     12    0    0   0.000000
4388161847      8    0    0   0.000000
2891001357      8    0    0   0.000000
2026352035     12    0    0   0.000000

8877689391: Third Most Active

11.who is the 5th most laziest person avaiilable in dataset find it out

In [74]:
df_fitbit.groupby('Id')['SedentaryMinutes'].mean().sort_values(ascending=False)[5:6]

Id
6391747486    1261.888889
Name: SedentaryMinutes, dtype: float64

12. what is a total acumulative calories burn for a person find out

In [88]:
df_fitbit.groupby('Id')['Calories'].agg(['sum']).sort_values(by = ['sum'], ascending=False)

              sum
Id
4020332650  98412
4057192912  60913
4702921684  42322
8877689391  41414
8378563200  40274
5577150313  36303
1503960366  34128
8053475328  31825
4445114986  31617
7007744171  31525
2347167796  30320
2022484408  29704
6962181067  29249
1644430081  29164
1927972279  27048
7086361926  26124
1624580081  25705
8792009665  24884
6775888955  24523
4319703577  23931
4558609924  21962
6290855005  21656
5553957443  21630
6117666160  20993
2873212765  20349
1844505072  19391
8583815059  19130
3372868164  18603
2320127002  18385
2891001357  18187
8253242879  17556
3977333714  16777
2026352035  16266
6391747486  15868
4388161847  14442

# TASK 2: Superstore_USA

1. load this data in pandas , sql with a relation in sql
2. while loading this data you dont have to create table manually you can use any automated approach to create a table and load the data in bulk

In [90]:
import pandas as pd

In [103]:
df_s=pd.read_excel("C://Users//ADMIN//Downloads//Superstore_USA.xlsx")
df_r=pd.read_excel("C://Users//ADMIN//Downloads//Superstore_USA.xlsx",sheet_name='Returns')

In [104]:
df_r

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [101]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://suraj:ThisisMyPassword@localhost:3306/Pandas_Session3')
df_s.to_sql(con=engine,name='superstore',if_exists="append",index=False)

9426

3. find out how many return that we have recieved and wiht a product id